<div class="container">

        <div class="jumbotron hero-spacer">
            <h1>Track My Investor</h1>
            <p></p>
            <br/>
            <br/>
            </p>
        </div>

        <hr>

        

        <hr>

        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Track My Investor 2013</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>